<div id="itemPage">
    <h1 className="h1 a1" id="h1a1">Информация о товарах</h1>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-product">
                <a class="nav-link active" href="#itemsTable" data-toggle="tab" onclick="clearSizes()">Список
                    товаров</a>
            </li>
            <li class="nav-product">
                <a class="nav-link" href="#newItem" data-toggle="tab" onclick="clearSizes()">Добавить товар</a>
            </li>
        </ul>
    </div>
    <div class="tab-content border">
        <div th:replace="product/products.html"></div>
        <div th:replace="product/addItem.html"></div>
    </div>
</div>