<div th:replace="item/filterItem.html"></div>
<div class="tab-pane fade" id="itemsTable">
    <div>
        <table class="table table-striped" id="tableAllItems">
            <thead>
            <tr>
                <th>Фото</th>
                <th>Код</th>
                <th>Название</th>
                <th>Тип товара</th>
                <th>Продажная цена</th>
                <th style="width: 150px">Количество</th>
                <th class="editBtn">Редактировать</th>
                <th class="deleteBtn">Удалить</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled" id="bt1">
                <button class="page-link" onclick="pagingPrev()">Предыдущая</button>
            </li>
            <li class="page-item active" id="bt2">
                <button class="page-link active" onclick="setPaging(0)">1</button>
            </li>
            <li class="page-item" id="bt3">
                <button class="page-link" onclick="setPaging(1)">2</button>
            </li>
            <li class="page-item" id="bt4">
                <button class="page-link" onclick="setPaging(2)">3</button>
            </li>
            <li class="page-item" id="bt5">
                <button class="page-link" onclick="pagingNext()">Следующая</button>
            </li>
        </ul>
    </nav>
</div>