<div sec:authorize="hasRole('ROLE_SUPER_ADMIN')" hidden id="userPage">
    <h1 className="h1 a1" id="h1a1">Информация о пользователях</h1>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-product">
                <a class="nav-link active" href="#usersTable" data-toggle="tab">Список пользователей</a>
            </li>
            <li class="nav-product">
                <a class="nav-link" href="#newUser" data-toggle="tab">Добавить пользователя</a>
            </li>
        </ul>
    </div>
    <div class="tab-content border">
        <div th:replace="user/users.html"></div>
        <div th:replace="user/addUser.html"></div>
    </div>
</div>