<div class="tab-pane fade" id="salesTable">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">Продажи</div>
    </nav>
    <div>
        <table class="table table-striped" id="tableAllSales">
            <thead>
            <tr>
                <th>№</th>
                <th>Время</th>
                <th>Имя покупателя</th>
                <th>Номер телефона</th>
                <th>Канал продажи</th>
                <th>Количество товаров</th>
                <th>Общая стоимость</th>
                <th>Статус</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>