<div hidden id="salePage">
    <h1 className="h1 a1" id="h1a1">Информация о продажах</h1>
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="nav-product">
                <a class="nav-link active" href="#salesTable" data-toggle="tab">Список продажи</a>
            </li>
            <li class="nav-product">
                <a class="nav-link" href="#newSale" id="saleTab" data-toggle="tab">Добавить продажу</a>
            </li>
        </ul>
    </div>
    <div class="tab-content border">
        <div th:replace="sale/sales.html"></div>
        <div th:replace="sale/addSale.html"></div>
    </div>
</div>