
body {
    /*background: url("../images/back2.jpg");*/
}

.bg-fon {
    /*background-color:rgba(0,0,0,.3);*/
    /*height:100%;*/
    /*position:fixed;*/
    /*width:100%;*/
    /*top:0;*/
    /*left:0;*/
}

.row {
    position: absolute;
    width: 100%;
    left: 0;
    padding-right: 10px;
}

.list-group-item {
    text-align: left;
}

.a1 {
    padding-top: 10px;
}

.list-group {
    padding-top: 20px;
}

.form-control {
    max-width: 300px;
    max-height: 40px;
    font-size: 16px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.search {
    max-width: 400px;
    margin-left: 70px;
}

#addItem {
    font-weight: bold;
}

.select {
    max-height: 100px;
}

.btn-left {

}

.btn-right {

}

.modal-footer-item {
    display: flex;
    justify-content: space-around;
}

.modal-footer-size {
    display: flex;
    justify-content: space-around;
}

.modal-footer-user {
    display: flex;
    justify-content: space-around;
}

.label-select {
    vertical-align: top;
}

#filterSearch {
    background: #19b9ab;
    color: whitesmoke;
}

#filterReset {
    background: #fa6c6c;
    margin-top: 5px;
    max-height: 70px;
    font-size: 15px;
    width: 170px;
    color: whitesmoke;
}

#filterApply {
    margin-top: 35px;
    max-height: 70px;
    font-size: 15px;
    width: 170px;
}

#btn-on {
    margin-top: 5px;
}


#btn-off {
    margin-top: 5px;
}

.form-check-input {
    height: 20px;
    width: 70px;
}

.form-check-label {
    height: 20px;
    width: 70px;
    margin-left: 30px;
}